<div class='container'>
	<div class='row'>
		<h2><%= @user.first_name %>'s Events</h2>
		<table class='table table-striped'>
			<thead>
				<th>Name</th>
				<th>Deadline</th>
			</thead>
			<tbody>
				<% @events.each do |event| %>
					<tr>
						<td><%= event.event_name %></td>
						<td><%= event.deadline %></td>
					</tr>

				<% end %>
			</tbody>
		</table>
	</div>
</div>