<div class='container'>
	<div class='row'>
		<p><%= link_to("Back to dashboard", user_path(@user.id)) %></p>
		<h2>Create Board</h2>
		<%= simple_form_for @board do |f| %>
		<%= f.input :board_name %>
		<%= f.submit "Create Board" %>
		<% end %>
	</div>
</div>