// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board{
	border: 1px solid black;
	height: 150px;
	padding-top: 50px;
	margin: 10px;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
	opacity: 1;
}
.table_board{
	border: 1px solid black;
	
	padding-top: 50px;
	margin: 10px;
	box-shadow: 10px 10px 5px #888888;
}