<!DOCTYPE html>
<html>
<head>
  <title>Giver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class='navbar my_nav navbar-inverse'>
		<h2 class='text-white'>Giver</h2>
		<p class='blurb text-white'>Crowdfunding for Gift-Giving :)</p>
		<!-- <div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Menu
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Boards</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Create Board</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Contributions</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Friends</a></li>
		</ul>
		</div> -->
	</nav>
<%= yield %>

</body>
</html>
