<!DOCTYPE html>
<html>
<head>
  <title>Giver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class='navbar my_nav navbar-inverse'>
		<h2 class='text-white'>Giver</h2>
	</nav>
<%= yield %>

</body>
</html>
